/* Black body text since dark grey doesn't work well in print. */
body {
  color:black;
}

/* Set font size to be approximately 7pt for an 800px screen shot 127mm wide */
body, p {
	font-size:15px;
}
.label {
   font-size:13px;
   line-height:16px;
}

/* Replace light-blue alert background with white on dark-blue. */
.alert-info {
   border-color:transparent;
   background-color:#3A87AD;
   color:white;
   font-weight:bold;
}

footer p {
  margin:2em 0 0 0;
  font-size: 13px;
  text-transform:uppercase;
}

.has-error .input-group-btn > button {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus + .input-group-btn > button {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}